@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
/*
* {
  border: 1px solid green;
} */

body {
  background-image: url("/Users/hughluscombe/Projects/project0/images/welcometoacidhousecartoon.png");
  background-color: #FB9F89;
  background-color: black;
  margin: 0 auto;
  height: 0 auto;
  font-family: 'Roboto Mono', monospace;
  color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px black;
  animation: rotateX180 3s infinite;
  animation-timing-function: ease-in-out;
}

h2 {
  margin: 1%;
  margin-top: 0;
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px black;
  animation: rotateY 4s infinite;
  animation-timing-function: linear;
}

h3 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px black;
  vertical-align: middle;
  animation: rotateY180 4s infinite;
  animation-timing-function: linear;
}

h4 {
  width: 20%;
  margin: 1%;
  margin-left: 40%;
  border-radius: 0.2em;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px black;
  vertical-align: middle;
  background: rgb(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
  transform: scale3d(0.76, 0.76, 0.76);
}

h4:hover {
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  background-color: rgba(255, 255, 255, 1);
}


table {
  background: rgb(0, 0, 0, 0.6);
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30%;
  margin-right: 30%;
  box-sizing: border-box;
  border-collapse: collapse;
  border-style: hidden;
  align-items: center;
}

td {
  cursor: pointer;
  margin: 0;
  width: 33.33%;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  box-sizing: border-box;
  border: solid #5B6DCD 10px;
  transition: background 0.5s ease-out, color 0.5s ease-out;
  background: rgb(0, 0, 55, 0.3);
}

td::after {
  content: "";
  display: block;
  margin: 50%;
  overflow-y: hidden;
  box-sizing: content-box;
}

td:hover{
 background: #49FF1C;
 color: #F2FDFF;
}

.added-class:after {
  content:none
}

img:active {
 animation: rotateY180 2s;
}

p {
  margin: 1%;
  text-align: center;
  font-size: 2em;
  border-radius: 0.2em;
  background: rgb(0, 0, 0, 0.7);
  text-shadow: 2px 2px black;
}

iframe {
  width: 100%;
  opacity: 0;
}

.tongue {
  animation: spin 4s infinite;
  animation-timing-function: linear;
}

.drool {
  animation: rotateY 4s infinite;
  animation-timing-function: linear;
}

.container {
  width: 80%;
  margin-top: 0;
  margin-bottom: 10%;
  margin-left: 10%;
}

.scorebox {
  display: inline-block;
  width: 29%;
  margin-left: 14%;
  height: 100px;
}

.winner {
  display: none;
}

@keyframes scroll {
 0%   {transform: translateX(100%);}
 100% {transform: translateX(-10 0%);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes rotateY {
  from {transform:rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

@keyframes rotateY180 {
  0% {transform:rotateY(0deg);}
  50% {transform: rotateY(90deg);}
  100% {transform: rotateY(0deg);}
}

@keyframes rotateX180 {
  0% {transform:rotateY(0deg);}
  50% {transform: rotateY(90deg);}
  100% {transform: rotateY(0deg);}
}

@keyframes rotateX {
  from {transform:rotateX(0deg);}
  to {transform: rotateX(360deg);}
}
